<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682657769061-13944um9perntak2ol8de1ga101l5sss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682657769061-13944um9perntak2ol8de1ga101l5sss</string>
	<key>API_KEY</key>
	<string>AIzaSyBPCV-NhIsyS-DMXFaj6XjsERmaD7gZ2LU</string>
	<key>GCM_SENDER_ID</key>
	<string>682657769061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikitanesporov.bassport.Firechat</string>
	<key>PROJECT_ID</key>
	<string>firechat-df444</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-df444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682657769061:ios:fea1ecf41de9cee439888c</string>
</dict>
</plist>